<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="pranamPackages" value="https://www.myget.org/F/pranam/api/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ImageSharp Nightly" value="https://www.myget.org/F/imagesharp/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <pranamPackages>
      <add key="Username" value="mleader1" />
      <add key="ClearTextPassword" value="dewD1E2W3" /> 
    </pranamPackages>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>